.socials {
  display: flex;
  grid-gap: 40px;
  height: 180px;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .socials {
    height: 128px;
    grid-gap: 16px;
  }
}
