.modal__container {
  background-color: white;
  color: #383838;
  padding: 30px;
  border-radius: 16px;
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .modal__container {
    margin: 20px;
  }
}
