.slider__dot {
  background-color: #BA8BF3;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 15px;
}

.slider__dot:hover {
  background-color: #7B31D4;
}

.slider__dot:last-child {
  margin-right: 0;
}
