.button {
  background-color: #954CED;
  color: white;

  border-radius: 16px;
  border: 2px solid #954CED;
  padding: 16px 30px;
  width: max-content;
  height: fit-content;

  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: normal;
  text-decoration: none;

  cursor: pointer;
}

.button:hover {
  background-color: #181818;
  border: 2px solid #954CED;
}

.button:focus {
  outline: 4px solid #BA8BF3;
}

.button:active {
  background-color: #7B31D4;
  border: 2px solid #7B31D4;
}

.button:disabled {
  background-color: #B9B9B9;
  border: 2px solid #B9B9B9;
}
